body{
    background-color: black;
}
h1, p {
    color: white;
    font-family: "Libre Baskerville", serif;
}
h1{
    text-transform: uppercase;
}
*{
    text-align: center;
}
img {
    border: 5px solid white;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 90px;
}